{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
  <h1>Привет, я автор</h1>
  <img src="{% static 'img/Umi.jpg' %}" width="170" height="200" >
    <p>
      Богоевич Александр, 31 год. Живу в Сербии , город Нови Сад.
      Студент Яндекса по программе 'Цифровые профессии'.
      Учусь на курсе 'Python backend разработчик', 49 когорта.  
      Спасибо, что посетили мой сайт!
      Надеюсь , что Вам будет интересно!=)
    </p>
{% endblock %}
